.catalog__wrapper {
  width: 320px;
  background-color: @color-catalog-bg;
  padding-top: 74px;
  padding-bottom: 73px;
  padding-left: 42px;
}

.catalog__title {
  .text(27px; 30px; 700);
  color: @color-title-black;
  margin: 0;
}
