.catalog-part {
  display: flex;
  flex-direction: column;
}

.catalog-part__link {
  padding-left: 29px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.catalog-part__link--interior {
  background-color: @color-catalog-interior-link-bg;
}

.catalog-part__link--toys {
  background-color: @color-catalog-toys-link-bg;
}

.catalog-part__text {
  .text(19px; 24px; 700);
  color: @color-catalog-link;
}

@media (min-width: @tablet-width) {
  .catalog-part {
    display: flex;
    flex-direction: row;
    width: 668px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .catalog-part {
    width: 1050px;
    margin: 0 auto;
  }
}
