.catalog-card {
  margin-top: 30px;
}

.catalog-card__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 179px;
  border: 1px solid @color-catalog-item-border;
  padding: 27px 24px 24px 28px;
}

.catalog-card__link {
  color: @color-title-black;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.catalog-card__price-wrapper {
  position: relative;
  margin-top: 19px;
  padding-right: 50px;
  padding-top: 18px;
  border-top: 1px solid @color-catalog-item-border;
}

.catalog-card__button {
  display: inline-block;
  position: absolute;
  content: "";
  width: 21px;
  height: 18px;
  right: 0;
  top: 20px;

  svg {
    fill-opacity: 0.2;
  }

  &:hover svg {
    fill: #63d1bb;
    fill-opacity: 1;
  }

  &:active svg {
    fill-opacity: 0.3;
  }
}

.catalog-card__title {
  .text(17px; 24px; 700);
  margin: 0;
}

.catalog-card__description {
  display: block;
  .text(13px; 30px; 400);
  color: @color-text;
  margin-top: 6px;
}

.catalog-card__price {
  .text(15px; 24px; 700);
  color: @color-catalog-card-price;
}

@media (min-width: @tablet-width) {
  .catalog-card__wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 54px;
  }

  .catalog-card__image {
    width: 334px;
    height: 334px;
  }

  .catalog-card__text-wrapper {
    width: 335px;
    padding: 25px 30px 26px 28px;
  }

  .catalog-card__description-wrapper {
    padding-right: 35px;
  }

  .catalog-card__title {
    font-size: 20px;
  }

  .catalog-card__description {
    font-size: 15px;
  }

  .catalog-card__price-wrapper {
    display: inline-block;
    vertical-align: bottom;
    padding-top: 22px;
    padding-left: 5px;
  }

  .catalog-card__price {
    display: block;
    font-size: 17px;
  }
}

@media (min-width: @desctop-width) {
  .catalog-card__wrapper {
    width: 316px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;

    &:hover {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    }
  }

  .catalog-card__image {
    width: 316px;
    height: 462px;
  }

  .catalog-card__text-wrapper {
    width: 316px;
    min-height: 197px;
    padding-right: 30px;
  }

  .catalog-card__description-wrapper {
    padding-right: 14px;
  }

  .catalog-card__description {
    margin-top: 5px;
  }

  .catalog-card__price-wrapper {
    margin-top: 14px;
    padding-left: 0;
  }
}
