.contacts {
  margin-top: 44px;
}

.contacts__title {
  .text(18px; 30px; 700);
  color: @color-title-black;
  margin: 0;
  margin-bottom: 42px;
}

.contacts__email {
  color: @color-text;
}

.contacts__write-us {
  .text(18px; 20px; 700);
  margin-top: 39px;
  margin-bottom: 39px;
  color: @color-btn-text;
}

@media (min-width: @tablet-width) {
  .contacts__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contacts__title {
    width: 100%;
  }
}

@media (min-width: @desctop-width) {
  .contacts__wrapper {
    display: flex;
    flex-direction: column;
  }
}
