.form-page__text {
  .text (13px; 24px; 400);
  margin: 0;
}

.form-page__text-wrapper {
  width: 320px;
  padding: 0 30px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .form-page__text-wrapper {
    width: @tablet-width;
    padding: 0 51px;
  }
}

@media (min-width: @desctop-width) {
  .form-page__text-wrapper {
    width: @desctop-width;
    padding: 0 225px;
  }
}
