.form-page__text {
  .text (13px; 24px; 400);
  margin: 0;
}

.form-page__text-wrapper {
  width: 320px;
  padding: 0 30px;
  margin: 0 auto;
  margin-top: 22px;
  margin-bottom: 24px;
}

@media (min-width: @tablet-width) {
  .form-page__text-wrapper {
    width: @tablet-width;
    margin-top: 62px;
    margin-bottom: 61px;
    padding: 0 51px;
  }

  .form-page__text {
    .text(17px; 30px; 400);
  }
}

@media (min-width: @desctop-width) {
  .form-page__text-wrapper {
    width: @desctop-width;
    margin-top: 103px;
    padding: 0 225px;
  }
}
