.product {
  padding-left: 32px;
  padding-top: 34px;
}

.product__item-title {
  .text(25px; 30px; 700);
  color: @color-title-black;
  margin: 0;
}

.product__title {
  .text(17px; 20px; 700);
  text-transform: uppercase;
  color: @color-product-title;
  margin: 0;
  margin-top: 8px;
}

.product__description {
  line-height: 24px;
  margin: 0;
  margin-top: 30px;
}

.product__image {
  margin-top: 28px;
}

.product__price {
  .text(17px; 24px; 700);
  color: @color-product-price;
}

.product__order {
  .text(17px; 20px; 700);
  color: @color-btn-text;
}
