.product {
  padding-top: 34px;
}

.product__item-title {
  .text(25px; 30px; 700);
  color: @color-title-black;
  margin: 0;
}

.product__title {
  .text(17px; 20px; 700);
  text-transform: uppercase;
  color: @color-product-title;
  margin: 0;
  margin-top: 8px;
}

.product__description {
  line-height: 24px;
  margin: 0;
  margin-top: 30px;
}

.product__image {
  margin-top: 28px;
}

.product__price {
  .text(17px; 24px; 700);
  color: @color-product-price;
}

.product__order {
  .text(17px; 20px; 700);
  color: @color-btn-text;
}

@media (min-width: @tablet-width) {
  .product {
    width: 668px;
    position: relative;
    padding: 0;
  }

  .product__wrapper {
    width: 292px;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .product__image {
    width: 333px;
    height: 404px;
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media (min-width: @desctop-width) {
  .product {
    width: 1050px;
  }

  .product__image {
    width: 525px;
    height: 636px;
  }

  .product__order {
    width: 292px;
    display: block;
  }
}
