.reviews {
  padding-left: 29px;
  padding-top: 61px;
}

.reviews__title {
  .text(25px; 30px; 700);
  color: @color-title-black;
  margin: 0;
}

.reviews__text {
  margin: 0;
  margin-top: 38px;
}

.reviews__author-name {
  .text(17px; 24px; 700);
  font-style: normal;
  color: @color-title-black;
  margin-top: 40px;
}

.reviews__author-contact {
  .text(17px; 30px; 400);
}

.reviews__toggle {
  margin-top: 36px;
}

.reviews__write {
  .text(18px; 20px; 700);
  margin-top: 38px;
}
