.social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-right: 61px;
  padding-left: 58px;
  list-style: none;
}

.social__link {
  &:hover {
    svg {
      fill: #46c1ae;
    }
  }


  &:active {
    svg {
      fill: #46c1ae;
      fill-opacity: 0.3;
    }
  }
}

@media (min-width: @tablet-width) {
  .social__list {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-right: 27px;
    padding-left: 31px;
  }
}
